$bastos-blue : rgba(9, 122, 171, 0.934);
$primary-blue:rgba(18, 29, 140, 0.845);
$has-read-yellow:rgb(233, 229, 105);
$dark-blue :blue ;
$teal:rgba(49, 89, 189, 0.708);
$card-background: rgba(249, 248, 246, 0.892);
$secondary-gradient:rgba(9, 122, 171, 0.845);
$primary-gradient:rgb(94, 183, 222);