<ng-container *ngIf='!isNoteDeleted'>

<div *ngIf="!isInEditMode" class="display-note" #allNotes>
  <div class="display-note__timeStamp">
    <span class="video-time"> {{ videoTime }}</span>
  </div>
  <div class="display-note__title">
    {{ noteTitle }}
  </div>
  <div class="display-note__text">
    <p>{{ currentNote }}</p>
  </div>
  <div class="display-note__buttons">
    <img
      class="display-note__button"
      (click)="editNote()"
      src="https://img.icons8.com/android/24/000000/edit.png"
    />
    <img
      (click)='openDeleteNote()'
      class="display-note__button"
      src="https://img.icons8.com/ios-glyphs/30/000000/delete-forever.png"
    />
  </div>
</div>

<div *ngIf="isInEditMode" class="note-center">
  <div class="create-note-area">
    <p (click)="leaveEditMode()">leave edit note</p>
    <div class="create-note-area__currentTime-bubble">
      {{ videoTime }}
    </div>
    <input
      [(ngModel)]="noteTitle"
      placeholder="Title"
      class="create-note-area__note-title"
    />
    <textarea
      placeholder="Note text"
      [(ngModel)]="currentNote"
      type="text"
      class="create-note-area__note-textbox"
    ></textarea>
    <div class="create-note-area__buttons">
      <app-form-button (click)="saveNote()" [buttonText]="'Save'">
      </app-form-button>
      <app-form-button (click)="cancelNote()" [buttonText]="'Cancel'">
      </app-form-button>
    </div>
  </div>
</div>

<div *ngIf='showDeleteNoteModal' class='delete-note-modal-container'>
   <div class='delete-note-card'>
        <h2 class='delete-note-card__header'>Please Confirm</h2>
        <div class='seperator'></div>
        <p class='delete-note-card__text'>Are you sure you want to delete your note "{{noteTitle}}"?</p>
        <div class='delete-note-card__buttons'>
            <div (click)='cancelDeleteNote()' class='delete-note-card__button delete-note-card__button-cancel'>
                Cancel
            </div>
            <div (click)='deleteNote()' class=' delete-note-card__button delete-note-card__button-ok'>
                OK
            </div>
        </div>
   </div>
</div>

</ng-container>

