<div class="create-note-area">
    <div class="create-note-area__currentTime-bubble">
     {{videoTime}}
    </div>
    <input [(ngModel)]="noteTitle" placeholder="Title" class='create-note-area__note-title'/>
    <textarea
    placeholder="Note text"
      [(ngModel)]="currentNote"
      type="text"
      class="create-note-area__note-textbox"
    ></textarea>
    <div class="create-note-area__buttons">
      <app-form-button (click)="saveNote()" [buttonText]="'Save'">
      </app-form-button>
      <app-form-button (click)="cancelNote()" [buttonText]="'Cancel'">
      </app-form-button>
    </div>
  </div> 
