@import "../../styles/colors.scss";

.articles-center-page-container {
  position: absolute;
  top: 0px;
  left: 0px;
  min-height: 100vh;
  padding: 0;
  width: 100%;
  background-image: url("../../styles/TexturePapers/Texture6.jpg");
  background-position: center top;
  background-size: 100%;

  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-bottom: 30px;
}

.articles-container {
  height: 500px;
  width: 70vw;
  background-color: $bastos-blue;
  //opacity: .8;
  margin-top: 25vh;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
