.header-container {
    position: absolute;
    left:0px;
    top:0px;
    width: 100vw;
    height: 12vh;
    background-color: rgba(255, 217, 0, 0.749); // rgba(255, 255, 0, 0.618)
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.xoanDeLugoLogo {
    background-image: url('../../styles/logos/xoanDeLugoSmall.png');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
}

.header__title {
    font-family: cursive;
    font-size: 45px;
    padding: 20px;
}

.header-options {
    position: relative;
}

.options-drop-down{
    position: absolute;
    top: 100%;
    right: 20%;
    height: 200px;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.899);
    border-color: black;
    border-width: 1px;
    border-style: solid;
    z-index: 50000000;
    color: black;

    &__main-item {
        position: relative;
        width: 100%;
        //padding-left: 20px;
        margin-top: 10px;
        font-size: x-large;
        font-weight: 600;
        border-width: 100%;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: black;
        padding-bottom: 10px;
        cursor: default;

        & p {
            margin: 0px;
            padding-left: 10px;
        }
    }

    &__item {
        position: relative;
        width: 100%;
        padding-left: 20px;
        margin-top: 10px;
        cursor: pointer;

        
    }
}