<div class="home-page-container">
  <app-header></app-header>


  <div class="all-videos-container">
    <div [ngClass]="{'select-box-bar-open':isFilterOpen, 'select-box-bar-closed':!isFilterOpen}">

      <app-select-box
        *ngIf='isFilterOpen'
          [selectLabel]="'Institución'"
          class="select-box"
          (changeSelectEvent)="setInstitution($event)"
          [defaultSelected]="selectedInstitue"
          [selectOptions]="institutionSelectOptions"
        ></app-select-box>
        <app-select-box
        *ngIf='isFilterOpen'

          [selectLabel]="'Tipo'"
          (changeSelectEvent)="setType($event)"
          [defaultSelected]="selectedType"
          [selectOptions]="typeSelectOptions"
        ></app-select-box>

      <app-select-box
      *ngIf='isFilterOpen'

      [selectLabel]="'Mirado'"
      (changeSelectEvent)="setWatchedSortStatus($event)"
      [defaultSelected]="watchedSortStatus"
      [selectOptions]="watchedSortSelectOptions"
    ></app-select-box>

    <app-select-box
    *ngIf='isFilterOpen'

    [selectLabel]="'Fecha'"
    (changeSelectEvent)="sortVideos($event)"
    [defaultSelected]="selectedSort"
    [selectOptions]="sortSelectOptions"
  ></app-select-box>
  <app-select-box
  *ngIf='isFilterOpen'

    [selectLabel]="'Año'"
    (changeSelectEvent)="setYear($event)"
    [defaultSelected]="yearelectOptions[0]"
    [selectOptions]="yearelectOptions"
  ></app-select-box>
  <img 
  (click)='openFilters()'
  class='filter-icon' src="https://img.icons8.com/ios/50/000000/settings.png"/>
    
      </div>
    <div  class='all-video-cards' *ngIf='!isVideosLoading'>
      <ng-container *ngFor="let videoData of selectedVideos">
        <app-video-card *ngIf='!isFilterOpen' [videoData]="videoData"></app-video-card>
      </ng-container>
    </div>

    <app-spinner [isSpinning]='isVideosLoading' class='spinner' *ngIf='isVideosLoading'></app-spinner>

  </div>
</div>

