.home-page-container {
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 100vh;
    height:auto;
    width: 100vw;
    background-image: url('../../styles/TexturePapers/Texture6.jpg');
    color: white;
}

.all-videos-container {
    position: relative;
    min-width: 90%;
    min-height: 90%;
    margin: 50px;
    margin-top: 100px;
    
}

.institution {
    margin-top: 300px;
}

// .custom-select {
//     width: 150px;
//     height: 50px;
//     font-size: large;
//     background-color: rgba(255, 255, 255, 0.886);
//     margin: 5px;
//     border-radius: 10px;
//     padding-left: 15px;
//     font-family: cursive;
// }
// .custom-select:hover select {
//     appearance: none;
// }


