<div class="home-page-container">
  <app-header></app-header>


  <div class="all-videos-container">
    <div class="select-box-bar">
        <app-select-box
          [selectLabel]="'Institution'"
          class="select-box"
          (changeSelectEvent)="setInstitution($event)"
          [defaultSelected]="institutionSelectOptions[0]"
          [selectOptions]="institutionSelectOptions"
        ></app-select-box>
        <app-select-box
          [selectLabel]="'Event Type'"
          (changeSelectEvent)="setType($event)"
          [defaultSelected]="typeSelectOptions[0]"
          [selectOptions]="typeSelectOptions"
        ></app-select-box>
        <app-select-box
          [selectLabel]="'Year'"
          (changeSelectEvent)="setYear($event)"
          [defaultSelected]="yearelectOptions[0]"
          [selectOptions]="yearelectOptions"
        ></app-select-box>
        <app-select-box
        [selectLabel]="'Date'"
        (changeSelectEvent)="sortVideos($event)"
        [defaultSelected]="sortSelectOptions[0]"
        [selectOptions]="sortSelectOptions"
      ></app-select-box>
      <app-select-box
      [selectLabel]="'Mirado'"
      (changeSelectEvent)="setWatchedSortStatus($event)"
      [defaultSelected]="watchedSortSelectOptions[0]"
      [selectOptions]="watchedSortSelectOptions"
    ></app-select-box>
      </div>
    
    <ng-container *ngFor="let videoData of selectedVideos">
      <app-video-card [videoData]="videoData"></app-video-card>
    </ng-container>
  </div>
</div>
