
.is-loading {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: linear-gradient(to right, white, black);
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;

    box-shadow: 5px -5px 5px black;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


@keyframes spin {
    0%{
        transform: rotate(0deg);

    }
    50% {
        transform: rotate(180deg);


    }
    100% {
        //transform: scale(1);
        transform: rotate(360deg);

    }
}