<div class="home-page-container">
  <div class="home-page-content">
    <app-header></app-header>
    <div class="instructions-card">
      <h1>
        escuchar a las lecturas
      </h1>
      <h1>
        Tomar Notas adjuntado a un punto en el video
      </h1>
      <h1>
          Ver Todas los libros mencionados con 
          <ul>
              <li>
                foto
              </li>
              <li>
                  Titulo
              </li>
              <li>
                  Enlance a conseguirlo
              </li>
              
          </ul>

      </h1>
    </div>
  </div>
</div>
