<div class="home-page-container">
  <div class="home-page-content">
    <app-header></app-header>
    <app-section-card [urlLocation]="'videos-center'" [imageLocation]='"/assets/images/video_center_cover_2.png"' [title]="'Centro De Videos'" [pageDetails]="['Buscar videos', 'Mirar videos','Tomar notas']"></app-section-card>
    <app-section-card [urlLocation]="'articles-center'" [imageLocation]='"/assets/images/articles_center_cover_3.png"' [title]="'Centro De Articulos'" [pageDetails]="['Buscar articulos', 'Leer articulos']"></app-section-card>
    <app-section-card [urlLocation]="'book-center'" [imageLocation]='"/assets/images/book_center_cover.png"' [title]="'Centro De Libros'" [pageDetails]="['Buscar Libros', 'Leer Libros']"></app-section-card>

  </div>
</div>
