.video {
    margin: 20px;
    width: 300px;
    height: 300px;
    background-color: rgba(255, 217, 0, 0.797);
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    transition: all .3s;
    color: black;
    display: inline-block;


    &:hover {
        transform: scale(1.03);
        box-shadow: 3px 3px 3px 3px rgba(36, 36, 36, 0.714);
    }

    &__image {
        width: 300px;
        height: 150px;
        border-radius: 20px;

    }

    &__title {
        padding: 10px;
        width: 90%;
        height: 15%;
    }

    &__note-count{
        padding-left: 10px;
        font-weight: bold;

    }


}