@import '../../styles/colors.scss';

.video {
    margin: 20px;
    width: 300px;
    height: 300px;
    background-color: rgba(249, 248, 246, 0.892);
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    transition: all .3s;
    color: black;
    display: inline-block;

    
    &:hover {
        transform: scale(1.03);
        box-shadow: 3px 3px 3px 3px rgba(36, 36, 36, 0.714);
    }

    &__image {
        width: 300px;
        height: 150px;
        border-radius: 20px;

    }

    &__title {
        padding: 10px;
        width: 90%;
        height: 15%;
    }

    &__note-count{
        padding-left: 10px;
        font-weight: bold;

    }


}

.video-watched{
    border-style: solid;
    border-width: 7px;
    border-color:$has-read-yellow ;
    border-radius: 25px;
}

.video-not-watched{
    border-style: solid;
    border-width: 7px;
    border-color: $card-background;
    border-radius: 30px;
}

@media (max-width: 430px) {
    .video {
        margin-bottom: 20px;
        width: 80vw;
        height: 300px;
    
        &__image {
            width: 80vw;
    
        }
    }

    .video-watched{
        margin-bottom: 10px;
    }
    
    .video-not-watched{
        margin-bottom: 10px;
    }
}
