.video-center-page-container {
    position: absolute;
    top: 0px;
    left: 0px;
    height:100vh;
    width: 100vw;
    background-image: url('../../styles/TexturePapers/Texture6.jpg');
    color: white;
}