<div class="video-center-page-container">
  <app-video-header [videoTitle]='videoDisplayService.videoTitle.value'></app-video-header>
  <div class="video-player">
    <div class="embed-responsive" id="player"></div>
    <div class="video-player__time-bar" [ngStyle]="{'width': videoBarWidth}">
        <div class="video-player__time-line" >

        </div>
        <ng-container *ngIf='areNotesReadyToBeDisplayed'>

       
      <div
        class="time-bar-note"
        *ngFor="let note of notes; let indexOfelement=index;"
        [ngStyle]="{ left: note.timeSpot }"
        (click)=' $event.stopPropagation(); gotoNoteTimeSpot($event,note);'
      >
        <div class="time-bar-note__details">
          {{ note.noteTitle }}
          <div class='travel-to-note-button'><img  (click)=' $event.stopPropagation(); travelToNote(indexOfelement);'  class='travel-to-note-button__img' src="https://img.icons8.com/ios-filled/50/000000/low-priority.png"/></div>

        </div>
      </div>
    </ng-container>
    </div>
  </div>

  <div class="video-player__note-bar" [ngStyle]="{'width': videoBarWidth}">
    <button class='note-center-button' (click)="toggleNoteCenter()">Note Center</button>
  </div>
  <div *ngIf="isNoteCenterOpen" class="note-center">
    

   <div class="create-note-area">
      <div class="create-note-area__currentTime-bubble">
        {{ displayMinuteBasedTime(videoDisplayService.videoProg.value) }}
      </div>
      <input [value]="noteTitle" (change)='setNoteTitle($event)' placeholder="Title" class='create-note-area__note-title'/>
      <textarea
      placeholder="Note text"
        [value]="currentNote" 
        (change)='setCurrentNote($event)' 
        type="text"
        class="create-note-area__note-textbox"
      ></textarea>
      <div class="create-note-area__buttons">
        <app-form-button (click)="createNote()" [buttonText]="'Save note'">
        </app-form-button>
        <app-form-button (click)="discardNote()" [buttonText]="'Discard note'">
        </app-form-button>
      </div>
    </div> 
  </div>

  <div class="line-seperator"></div>

  <div *ngIf="isNoteCenterOpen">
    <ng-container *ngFor="let note of notes" #allNotes>
      <app-display-note [note]='note' #ref=''></app-display-note>
    </ng-container >
  </div>
</div>


