<div class="video-center-page-container">
  <app-video-header></app-video-header>
  <div class="video-player">
    <div class="embed-responsive" id="player"></div>
    <!--  -->
    <div class="video-player__time-bar">
        <div class="video-player__time-line">

        </div>
      <div
        class="time-bar-note"
        *ngFor="let note of notes; let indexOfelement=index;"
        [ngStyle]="{ left: note.timeSpot }"
        (click)='gotoNoteTimeSpot($event,note)'
      >
        <div (click)='travelToNote(indexOfelement)' class="time-bar-note__details">
          {{ note.noteTitle }}
          <div class='travel-to-note-button'><img  (click)='travelToNote(indexOfelement)' class='travel-to-note-button__img' src="https://img.icons8.com/ios-filled/50/000000/low-priority.png"/></div>

        </div>
      </div>
    </div>
  </div>

  <div class="video-player__note-bar">
    <button (click)="toggleNoteCenter()">Note Center</button>
  </div>
  <div *ngIf="isNoteCenterOpen" class="note-center">
    <div class="create-note-area">
      <div class="create-note-area__currentTime-bubble">
        {{ displayMinuteBasedTime(videoProg) }}
      </div>
      <input [(ngModel)]="noteTitle" placeholder="Title" class='create-note-area__note-title'/>
      <textarea
      placeholder="Note text"
        [(ngModel)]="currentNote"
        type="text"
        class="create-note-area__note-textbox"
      ></textarea>
      <div class="create-note-area__buttons">
        <app-form-button (click)="createNote()" [buttonText]="'Save note'">
        </app-form-button>
        <app-form-button (click)="discardNote()" [buttonText]="'Discard note'">
        </app-form-button>
      </div>
    </div>
  </div>

  <div class="line-seperator"></div>

  <div *ngIf="isNoteCenterOpen">
    <div class="display-note" *ngFor="let note of notes" #allNotes>
        <div class="display-note__timeStamp">
            {{ note.timeNoteCreated }}
        </div>
        <div class="display-note__title" >
           {{ note.noteTitle }}
        </div>
        <div class="display-note__text">
            <p>{{ note.noteText }} </p>
        </div>
    </div>
  </div>
</div>

<!--         <div class="card">
          <button class="btn btn-dark mb-3" (click)="onMute()">Mute</button>

          <button class="btn btn-dark mb-3" (click)="onUnmute()">Unmute</button>
          <button class="btn btn-dark mb-3" (click)="onPause()">Pause</button>

          <button class="btn btn-dark mb-3" (click)="onPlay()">Play</button>
        </div> -->
