.book-center-page-container {
    position: absolute;
   top: 0px;
    left: 0px;
   min-height:100vh;
   padding:0;
   width: 100%;
   background-image: url('../../styles/TexturePapers/Texture6.jpg');
   background-position: center top;
   background-size:  100%;

   color: white;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;

   padding-bottom: 30px;
}


.all-videos-container {
    position: relative;
    min-width: 95%;
    min-height: 90%;
    margin: 50px;
    margin-top: 100px;
  }
  
  
  
  .select-box-bar {
    margin-top: 100px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    //left: 50%;
    //transform: translateX(-50%);
    margin-bottom: 30px;
  }
  
  .spinner {
    margin-top: 40vh;
    position: absolute;
    top: 50%;  
    left: 50%; 
  
    transform: translate(-50%, -50%);
  }
  
  