<div class="book-center-page-container">
  <large-header [headerTitle]='"Libros Para Salid de Matrix"'></large-header>
  <img 
  *ngIf=' isMobileView'

  (click)='openFilters()'
  class='filter-icon' src="https://img.icons8.com/ios/50/000000/settings.png"/>
  <div  class="all-videos-container">
    <div *ngIf='isFilterOpen || !isMobileView' class="select-box-bar">
      <app-select-box
        [selectLabel]="'Leido'"
        class="select-box"
        (changeSelectEvent)="setReadStatus($event)"
        [defaultSelected]="selectedReadSort"
        [selectOptions]="readStatusOptions"
      ></app-select-box>
      <app-select-box
        [selectLabel]="'Categoría'"
        (changeSelectEvent)="setCategoryFilter($event)"
        [defaultSelected]="selectedCategory"
        [selectOptions]="filterCategories"
      ></app-select-box>

      <app-select-box
        [selectLabel]="'Fecha'"
        (changeSelectEvent)="setDateSort($event)"
        [defaultSelected]="selectedDateSort"
        [selectOptions]="dateOptions"
      ></app-select-box>
    </div>

    <ng-container *ngIf='!isBooksLoading'>
      <ng-container *ngFor="let individualBookData of sortedAndFilteredBookData">
        <app-book-card
        *ngIf='!isFilterOpen || !isMobileView'
          (handleBookReadButton)="handleBookReadButton()"
          [bookData]="individualBookData"
        ></app-book-card>
      </ng-container>
    </ng-container>
   

    <app-spinner [isSpinning]='isBooksLoading' class='spinner' *ngIf='isBooksLoading'></app-spinner>

  </div>
</div>
