<div class="book-center-page-container">
  <app-book-center-header></app-book-center-header>
  <div class="all-videos-container">
    <div class="select-box-bar">
      <app-select-box
        [selectLabel]="'Read Status'"
        class="select-box"
        (changeSelectEvent)="setReadStatus($event)"
        [defaultSelected]="readStatusOptions[0]"
        [selectOptions]="readStatusOptions"
      ></app-select-box>
      <app-select-box
        [selectLabel]="'Category'"
        (changeSelectEvent)="setCategoryFilter($event)"
        [defaultSelected]="filterCategories[0]"
        [selectOptions]="filterCategories"
      ></app-select-box>

      <app-select-box
        [selectLabel]="'Date'"
        (changeSelectEvent)="setDateSort($event)"
        [defaultSelected]="dateOptions[0]"
        [selectOptions]="dateOptions"
      ></app-select-box>
    </div>

    <ng-container *ngIf='!isBooksLoading'>
      <ng-container *ngFor="let individualBookData of sortedAndFilteredBookData">
        <app-book-card
          (handleBookReadButton)="handleBookReadButton()"
          [bookData]="individualBookData"
        ></app-book-card>
      </ng-container>
    </ng-container>
   

    <app-spinner [isSpinning]='isBooksLoading' class='spinner' *ngIf='isBooksLoading'></app-spinner>

  </div>
</div>
