<div class="video" >
  <div class="photoCard">
    <img class="card card-front" [ngClass]="{'book-read':isRead,'book-not-read':!isRead}" [src]="bookData.image" />
    <!-- x -->

    <div class="card card-back" [ngClass]="{'book-read':isRead,'book-not-read':!isRead }">
      <div class="card-content">
        {{ bookData.title |titlecase}}
      </div>
      <div class="card-content">
        {{ bookData.author |titlecase}}
      </div>
      <div class='card-content ' (click)="readIt()">
          <div [ngClass]="{'card-back__read-it-button--read-color':isRead,'card-back__read-it-button--not-read-color':!isRead }" class='card-back__read-it-button'>
            {{isRead?'NO LEIDO':'LEIDO' | uppercase}}
          </div>
      </div>
      <div class="card-content">
          
        <a href='{{bookData.locationLink}}' target="_blank">
          <img
          class='card-back__go-to-location'
            src="https://img.icons8.com/fluent-systems-filled/24/000000/arrow--v2.png"
          />
        </a>
      </div>
    </div>
  </div>
</div>
